In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import numpy as np
import scipy
import math
import collections
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# utils
from utils import cleaning, config, eda

In [2]:
# Load data and start formatting
sc_raw = cleaning.load_data(config.DB_SC_PATH)

# Format column name and change index
sc_prep = sc_raw.copy()
sc_prep = cleaning.format_data(sc_prep)


display(eda.report(sc_prep))
display(sc_prep.head())

                                   nan_count   dtype  unique
city                                       0  object     102
country                                    0  object      36
smart_mobility                             0   int64     100
smart_environment                          0   int64      98
smart_government                           0   int64      98
smart_economy                              0   int64      99
smart_people                               0   int64      98
smart_living                               0   int64      38
smartcity_index                            0   int64     100
smartcity_index_relative_edmonton          0   int64     102

,city,country,smart_mobility,smart_environment,smart_government,smart_economy,smart_people,smart_living,smartcity_index,smartcity_index_relative_edmonton
id,,,,,,,,,,
1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340